# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. SQL

### Some of the commonly used libraries used by Data Scientists include:
1. Numpy2. Pandas
3. Ggplot2
4.  PlotlySQL

| Data Science Tools |
| --- |
| Git |
| Github |
| Jupyter Notebook |
| TensorFlow |
| Cassandra |
| MySQL |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
print("200 minutes are",str(200//60),"hours and",str(200%60),"minutes")

200 minutes are 3 hours and 20 minutes

__Objectives:__
* List popular languages for Data Science
* List data science tools
* Evaluate arithmetic expressions in Python

## Author
Rayen Ben Abdallah